@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

$primary-fonts: 'Source Sans Pro', sans-serif;
$secondary-fonts: 'Oswald', sans-serif;

$white: #ffffff;
$black: #000000;
$granite-gray: #666666;
$blue: #55c2d8;
$whisper: #eeeeee;
$very-dark-grayish-violet: #464547;
$filter-bacground: #8c4f2a4d;
$neu-white: #ffffffb2;
$middle-gray: #ffffff66;

$margin-center: 0 auto;
